# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Ignore env files with secrets
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
